.chatting_list_container {
  .tab_wrap {
    height: 52px;
    padding: 0 20px;
  }
  .empty_wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 152px);
    font-size: 18px;
    font-weight: 600;
    color: var(--grey-60);
    background-color: var(--grey-10);
    
    svg {
      width: 30px;
      height: 30px;
    }
  }
  .scroll_wrap {
    height: calc(100vh - 152px);
    overflow-y: auto;

    .chatting_container {
      max-width: 100%;
    }
  }
}