.feed_add_container {
  .write_header_container {
    padding: 0 20px;
  }
  .add_container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 95px);
    padding: 0 20px;

    .write_wrap {
      display: flex;
      flex-direction: column;
      height: 100%;
      
      .category_selector {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 58px;
        cursor: pointer;
    
        label {
          font-weight: 700;
          font-size: 15px;
          line-height: 18px;
        }
      }

      .input_container {
        padding-top: 20px;
      }

      .textarea_container {
        padding: 20px 0;
        height: 100%;

        .textarea_wrap {
          height: 100%;
        }
      }
    }

    .extra_wrap {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      gap: 20px;

      .slider_wrap {
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;

        .img_wrap {
          position: relative;
          .control {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;

            .delete {
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              background-color: var(--black);
              top: 15px;
              right: 15px;

              svg {
                width: 14px;
              }
            }
          }
          .img {
            background-size: cover;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }

  .bottom_choise_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 48px;
    padding: 0 20px;
    border-top: 1px solid var(--bottom-choise-line);

    button {
      font-size: 12px;
      font-weight: 500;
      align-items: end;
      line-height: 17px;
    }
  }
}
