.image_search_container {
  height: 100vh;

  .search_container {
    .gallery_header_container {
      padding: 0 20px;
      height: 47px;
    }
  }

  .view_wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 47px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    .scroll_wrap {
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  
    .album_wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--white);
      transform: translateY(100%);
      z-index: 1;
  
      &.open {
        animation: opening 0.5s ease-in-out;
        transform: translateY(0%);
      }

      &:not(.open) {
        animation: closing 0.5s ease-in-out;
        transform: translateY(100%);
      }
    }
  }
}
