@media (min-width: 481px) {
  .app_container {
    margin-left: calc(50% - 215px);
  }
}

.app_container {
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;

  width: 100%;
  min-width: 375px;
  max-width: 430px;
}
